.calendar-container {
    width: 90%; // Ancho responsivo
    height: 80vh; // Ajuste de altura
    max-height: 850px; // Limitar altura máxima
    overflow: auto;
    position: relative;
    z-index: 1;
    padding: 20px; // Ajuste de padding para pantallas pequeñas

    @media (max-width: 600px) {
        height: 60vh; // Cambiar altura en pantallas pequeñas
        padding: 10px; // Ajustar padding
    }
}

.styled-calendar-container {
    width: 100%;
    height: 100%;
    border: none;
}
